body {
  background-color: rgb(41, 41, 41);
  margin: 0%;
  padding: 0%;
}

.nav{
  display: flex;
  justify-content: flex-end;
}
.icon{
  position: absolute;
  left: 1.8%;
  height: inherit;
  align-items: center;
  color: white;
  top: 1.6%;
}
.nav>ul{
  display: flex;
  list-style: none;
  width: 40vw;
  justify-content: space-between;
}
.nav>ul>li{
  color: white;
  font-size: 20px;
  padding-right: 20px;
  font-family: sans-serif;
}

.navitem::after {
  display: block;
  content: " ";
  height: 3px;
  width: 0%;
  border-radius: 2px;
  background-color: yellow;
  opacity: 0;
  transition: ease-out 200ms;
}

.navitem:hover {
  cursor: pointer;
}

.navitem:hover::after {
  cursor: pointer;
  opacity: 1;
  width: 100%;
}

.mainImg2 {
  background-color: rgb(113, 147, 249);
  background-image: url("./Images/sea\ Image-new.jpeg");
  height: 600px;
  color: whitesmoke;
  background-size: cover;
}

.mainImg {
  background-color: rgb(113, 147, 249);
  background-image: url("./Images/img-3-new.jpeg");
  color: whitesmoke;
  background-size: cover;
}

.mainImg>h1>span{
  color: rgb(197, 241, 214);
}

.mainImg>p{
  margin-bottom: 10%;
  color: whitesmoke;
}

/* scroll */

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  font-size: 30px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition:4s;
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  filter: blur(0px);
  transform: translatex(0%);
}
.images {
  display: flex;
}
.images:nth-child(1) {
  transition-delay: 200ms;
}
.images:nth-child(2) {
  transition-delay: 400ms;
} 
.images:nth-child(3) {
  transition-delay: 600ms;
}
.images:nth-child(4) {
  transition-delay: 800ms;
}
.img2 {
  height: 180px;
  width: 180px;
  background-color: rgb(213, 240, 231);
  margin-right: 10px;
}